<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Authentification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Authentification</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
           <ion-list>
                  <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input type="email"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Mot de Passe</ion-label>
                    <ion-input type="number"></ion-input>
                  </ion-item>


                  <ion-item>
                    <ion-button type="submit">Se Connecter</ion-button>
                  </ion-item>
          </ion-list>
  </form>

</ion-content>
